.row
  ul
    li.col-sm-4
      .card.text-center
        img(src='/img/imc-card1-icon.png', width='120', height='120', alt='')
        .c-title.text-capitalize why we plan for growth
        .c-overlay
          .o-title.overtext.text-capitalize why we plan for growth
          .o-text.overtext
            | Not only you are more likely to accomplish your goals with growth plan, you can also expect to learn in the process. The more you learn and accomplish, the more likely is for you to grow personally, professionally and financially at Engage.
    li.col-sm-4
      .card.text-center
        img(src='/img/imc-card2-icon.png', width='120', height='120', alt='')
        .c-title.text-capitalize question to consider when identifying goals
        .c-overlay
          .o-title.overtext.text-capitalize questions to consider when identifying goals
          .o-text.overtext.initiate-scroll.mCustomScrollbar(data-mcs-theme='gray-theme')
            p Your responses to the questions below will help you identify development goals to include in your growth plan.
            p What do you need to perform better in your job today?
            p What do you need/want to develop as you grow at Engage?
            p What do you need/want to develop as you grow at Engage?
    li.col-sm-4
      .card.text-center
        img(src='/img/imc-card3-icon.png', width='120', height='120', alt='')
        .c-title.text-capitalize developing your plan
        .c-overlay
          .o-title.overtext.text-capitalize developing your plan
          .o-text.overtext.initiate-scroll.mCustomScrollbar(data-mcs-theme='gray-theme')
            p Your responses to the questions below will help you identify development goals to include in your growth plan.
            p GOAL: What do you want to achieve?
            p REALITY: What is happening now?
            p OPTIONS: What are all the things you could do?
            p WAY FORWARD: What will you commit to doing?
