extends ../application

block variables
  - var css_files = ['/css/lib/jquery.mCustomScrollbar.min.css', '/css/layout.css']
  - var js_files = ['/js/libraries/jquery.mCustomScrollbar.concat.min.js']

block content
  #wrapper.container-fluid(style='max-width:1000px;')
    .row
      .col-md-12(style='padding-top:20px;').text-center
        img(src='/img/analytics-mockup.png', alt='')
