extends ../application

block variables
  - var css_files = ['/css/lib/jquery.mCustomScrollbar.min.css', '/css/layout.css']
  - var js_files = ['/js/libraries/jquery.mCustomScrollbar.concat.min.js']

block content
  #wrapper.container-fluid
    .row
      .col-md-12.text-center
        img(src='/img/ppl-competency-mockup.png')