doctype html
html
  head
    meta(charset='utf-8')
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    meta(content='width=device-width,initial-scale=1.0', name='viewport')
    title Email
    //if (gte mso 9)|(IE)
      style(type='text/css').
        table {border-collapse: collapse;}
  body(style='background-color: #EEF2F4; padding:15px;')
    div(style='width:100%;')
      table(align='center', style="width:100%; max-width:600px; margin-right:auto; margin-left:auto; text-align:center;font-family: 'Open Sans', Arial, Helvetica, sans-serif; border-collapse: collapse; border-spacing: 0;background-color: #fff; border-radius:3px;")
        tr
          td(style='padding:25px;border-radius: 3px 3px 0px 0px; background-color:#1f99d5;color:#fff;font-size:18px;')
            img(style='vertical-align:bottom;', src='http://imctest.populo.co/img/quote-icon-white.png', width='35', height='35', alt='')
            div There is no substitute for hard work when it comes to achieving success.
        tr
          td(style='padding:15px 15px 0px 15px;font-size:14px; font-weight:bold;color:#444444; text-align:left;color:#51555b;').
            Hi #{user_name},
        tr
          td(style='padding:15px;font-size:14px;color:#444444;text-align:left;color:#8f9092;')
            | We know that daily work demands can trump self-development activities. Yet, a focus on the future is critical for growth and development. The results of the populo Growth survey will help you determine where to focus moving forward. The survey should take you about 15-20 minutes to complete and you can save it along the way. A few weeks after completing the survey, you will be notified that your growth report is available. You and your manager can use your growth report to develop your growth plan.
            br
            br
            | You may also be asked to provide input on the growth of others. This should take no more than 5 minutes per multi-rater.
        tr
          td(style='padding:10px 15px 25px 15px;font-size:17px;')
            a(style='padding:10px 35px; color:#fff; background-color:#1f99d5; font-size:14px; font-weight:bold; text-decoration:none; border-radius:2px; display:inline-block; max-width:250px; margin-left:auto; margin-right:auto; ', href='#{survey_link}') Take Survey Now
            div(style='color:#8f9092;font-size:14px;padding-top:5px;')
              | you have until <b>#{expiry_date}</b> to complete it.
            div(style='text-align:center;color:#8f9092;padding-top:25px;padding-bottom:10px;') You can see how to video by clicking on the link below:
            a(href='#', style='')
              img(style='vertical-align:bottom;', src='http://imctest.populo.co/img/play-icon-b.png', width='35', height='35', alt='')    
        tr
          td(style='text-align: left;padding-left:15px;padding-bottom:15px;font-size:14px;color:#8f9092;')
            | If you have questions, please reach out to Liz, Kristin or Ashley.                      