.modal.fade.confirm-delete(tabindex='-1', role='dialog', id='confirmDelete', name='confirmDelete')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title.text-capitalize
          img(src='img/delete-icon-b.svg', width='35', height='35', alt='insights icon')
          | Delete survey confirmation
      .modal-body
        .form-f-wrapper
          .row
            .col-md-12.text-center
              div Are you sure you want to delete this survey?
      .modal-footer
        button#deleteSurvey.btn.btn-gray.btn-blue-c(type='button', data-dismiss='modal', data-hover='tooltip', data-placement='top', title='Delete Survey')
          img(src='/img/delete-icon-w.svg', width='20', height='20', alt='delete')