#customization.tab-pane(role='tabpanel')
  .tab-t-wrapper
    div
      strong Customize dashboard experience
  .row
    .col-md-12
      .switch-wrapper
        div Allow insights?
        .switch
          if user.insights_on
            input#s-toggle-1.s-toggle.s-toggle-round(name='s-1', type='checkbox', checked='')
            label(for='s-toggle-1')
          else
            input#s-toggle-1.s-toggle.s-toggle-round(name='s-1', type='checkbox')
            label(for='s-toggle-1')
    .col-md-12
      .switch-wrapper
        div Allow learning?
        .switch
          input#s-toggle-2.s-toggle.s-toggle-round(name='s-2', type='checkbox', checked='')
          label(for='s-toggle-2')
  .tab-t-wrapper
    div
      strong Upload your logo&nbsp;
      span (.jpg, .jpeg, .png and .svg file types only)
  div
    .alert.error-msg Ooops! Please select the correct file type.
    .add-logo-wrapper.text-center
      img(src='img/add-img-icon.svg', width='40', height='40')
      input#add-logo.file-input(type='file', multiple="", name="company-logo")
    .added-file
  .text-center
    button#upload-logo.btn.btn-gray(type='submit', disabled='', data-hover='tooltip', data-placement='top', title='Upload Logo')
      img(src='img/upload-icon-w.svg', width='20', height='20')    
