each user in users
  tr
    td
      = user.employee_id
    td
      = user.manager_id
    td
      = user.job_profile
    td
      = user.user_name
    td
      = user.full_legal_name
    td
      = user.manager_location
    td
      = user.job_family_group
    td
      = user.superior_organization
    td
      = user.supervisory_reference_id
    td
      = user.supervisory_organization
    td
      = user.manager_full_name
    td
      = user.manager_full_legal_name
    td
      = user.job_family
    td
      = user.location
    td
      = user.email
    td
      = user.userType
