extends ../application

block variables
    - var css_files = ['/css/lib/jquery.dataTables.min.css', '/css/lib/responsive.dataTables.min.css', '/css/lib/select2.min.css', '/css/lib/jquery.mCustomScrollbar.min.css', '/css/lib/bootstrap-datetimepicker.min.css', '/css/survey-deploy.css', '/css/layout.css','/css/assessment.css', '/css/administration.css' ]
    - var js_files = ['/js/libraries/jquery.dataTables.min.js', '/js/libraries/dataTables.responsive.min.js', '/js/libraries/select2.min.js', '/js/libraries/jquery.mCustomScrollbar.concat.min.js', '/js/libraries/bootstrap-datetimepicker.min.js', '/js/administration.js','/js/assessment.js']
    - var title = 'administration'


block content
   body
      #wrapper.container-fluid
         .row
            .col-md-12
               .administration-wrapper
                  .a-h.text-center
                     .avatar-wrapper.center-block.avatar-border
                        img(src='img/administration-icon.svg', alt='')
                     div
                        strong.text-capitalize administration
                  .tabs-wrapper
                     // Nav tabs
                     .row.visible-xs.visible-sm
                       .col-xs-12.t-dropdown-wrapper
                         .dropdown
                           button#select-contribute-goal.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true', value='select')
                             span.pull-left Select Tab
                             span.caret.pull-right
                           ul.dropdown-menu(role='tablist')
                             if user.role == 'HR Manager'
                              li.active(role='presentation')
                                a(aria-expanded='true', href='#export', aria-controls='export', role='tab', data-toggle='tab') 
                                  svg(preserveaspectratio='xMinYMin meet', y='0', x='0', height='20px', width='20px', viewbox='0 0 20 20')
                                    g(style='fill: currentColor')
                                     path#XMLID_24_.st0(d='M8.3,13.7l6.9,0l0,0v1.9c0,0.3,0.3,0.6,0.6,0.6l0,0l0,0c0.2,0,0.3-0.1,0.4-0.2l3.7-3.7\
                                     c0.2-0.2,0.2-0.6,0-0.9l-3.7-3.7c-0.2-0.2-0.6-0.2-0.9,0c-0.1,0.1-0.2,0.3-0.2,0.4V10l-6.9,0c-0.3,0-0.6,0.3-0.6,0.6l0,2.5\
                                     C7.7,13.4,7.9,13.7,8.3,13.7z')
                                     path.st0(d='M16.2,17.5H13H1.2V6.3h14.6v0h1.6V1.9c0-0.3-0.3-0.6-0.6-0.6H0.6C0.3,1.3,0,1.6,0,1.9v16.2\
                                     c0,0.3,0.3,0.6,0.6,0.6h16.2c0.3,0,0.6-0.3,0.6-0.6v-0.6H16.2z M8.1,3c0.5,0,0.8,0.4,0.8,0.8c0,0.4-0.3,0.8-0.8,0.8S7.3,4.2,7.3,3.8\
                                     C7.3,3.4,7.6,3,8.1,3z M5.6,3c0.5,0,0.8,0.4,0.8,0.8c0,0.4-0.3,0.8-0.8,0.8S4.8,4.2,4.8,3.8C4.8,3.4,5.1,3,5.6,3z M3.1,3\
                                     c0.5,0,0.8,0.4,0.8,0.8c0,0.4-0.3,0.8-0.8,0.8S2.3,4.2,2.3,3.8C2.3,3.4,2.6,3,3.1,3z')
                                  | Export             
                              li(role='presentation')
                                a(href='#user-management', aria-controls='user-management', role='tab', data-toggle='tab') 
                                  svg#user-management-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 20 20', height='20px', width='20px', style='enable-background:new 0 0 20 20;', xml:space='preserve')
                                    g(style='fill: currentColor')
                                     path#XMLID_9_.st0(d='M8.5,9.7c2,0,3.6-2,3.6-4.4c0-3.4-1.6-4.4-3.6-4.4c-2,0-3.6,1-3.6,4.4C4.9,7.8,6.5,9.7,8.5,9.7z')
                                     path#XMLID_8_.st0(d='M12.5,17.9c-0.1,0-0.2-0.1-0.3-0.1L12,18.1c-0.2,0.2-0.5,0.3-0.8,0.3c-0.3,0-0.6-0.1-0.8-0.3\
                                     l-0.6-0.6c-0.4-0.5-0.4-1.2,0-1.7l0.3-0.3c0-0.1-0.1-0.2-0.1-0.3H9.6c-0.6,0-1.1-0.5-1.1-1.2v-0.8C8.5,12.6,9,12,9.6,12H10\
                                     c0-0.1,0.1-0.2,0.1-0.3l-0.3-0.3c-0.2-0.2-0.3-0.5-0.3-0.7c-0.3,0.1-0.7,0.1-1.1,0.1c-1,0-1.9-0.3-2.7-1c-0.1,0-0.1,0-0.2,0\
                                     l-2.8,1.6c-0.2,0.1-0.3,0.3-0.4,0.5l-1.5,3.6c1.9,2.1,4.6,3.4,7.6,3.4c1.3,0,2.6-0.3,3.8-0.7c0.1,0,0.1-0.1,0.3-0.1L12.5,17.9\
                                     L12.5,17.9z')
                                     path#XMLID_5_.st0(d='M18.4,12.6h-0.5c-0.1,0-0.3-0.1-0.3-0.3c0-0.1-0.1-0.3-0.2-0.4c-0.1-0.1,0-0.3,0.1-0.5l0.3-0.3\
                                     c0.2-0.2,0.2-0.7,0-0.9l-0.6-0.6c-0.1-0.1-0.3-0.2-0.4-0.2s-0.3,0.1-0.4,0.2L16.1,10c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2,0\
                                     c-0.1-0.1-0.3-0.1-0.4-0.2C15.2,9.8,15,9.7,15,9.5V9c0-0.3-0.3-0.7-0.6-0.7h-0.8C13.3,8.4,13,8.6,13,9v0.5c0,0.1-0.1,0.3-0.3,0.3\
                                     c-0.1,0-0.3,0.1-0.4,0.2c0,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.2-0.1l-0.3-0.3c-0.1-0.1-0.3-0.2-0.4-0.2s-0.3,0.1-0.4,0.2l-0.6,0.6\
                                     c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.3,0.2,0.5l0.3,0.3c0.1,0.1,0.1,0.3,0.1,0.5c-0.1,0.1-0.1,0.3-0.2,0.4\
                                     c-0.1,0.1-0.2,0.3-0.3,0.3H9.6c-0.3,0-0.6,0.3-0.6,0.7v0.8c0,0.3,0.3,0.7,0.6,0.7h0.5c0.1,0,0.3,0.1,0.3,0.3c0,0.1,0.1,0.3,0.2,0.4\
                                     c0.1,0.1,0,0.3-0.1,0.5l-0.3,0.3c-0.2,0.2-0.2,0.7,0,0.9l0.6,0.6c0.1,0.1,0.3,0.2,0.4,0.2s0.3-0.1,0.4-0.2l0.3-0.3\
                                     c0.1-0.1,0.2-0.1,0.2-0.1s0.1,0,0.2,0c0.1,0.1,0.3,0.1,0.4,0.2c0.1,0.1,0.3,0.2,0.3,0.3v0.5c0,0.3,0.3,0.7,0.6,0.7h0.8\
                                     c0.3,0,0.6-0.3,0.6-0.7v-0.5c0-0.1,0.1-0.3,0.3-0.3c0.1,0,0.3-0.1,0.4-0.2c0,0,0.1,0,0.2,0c0.1,0,0.2,0,0.2,0.1l0.3,0.3\
                                     c0.1,0.1,0.3,0.2,0.4,0.2s0.3-0.1,0.4-0.2l0.6-0.6c0.2-0.2,0.2-0.7,0-0.9l-0.3-0.3c-0.1-0.1-0.1-0.3-0.1-0.5\
                                     c0.1-0.1,0.1-0.3,0.2-0.4c0-0.1,0.2-0.3,0.3-0.3h0.5c0.3,0,0.6-0.3,0.6-0.7v-0.8C19.1,12.9,18.8,12.6,18.4,12.6z M14,15.6\
                                     c-1,0-1.8-0.9-1.8-1.9s0.8-1.9,1.8-1.9s1.8,0.9,1.8,1.9S15,15.6,14,15.6z')
                                  | User management
                              li(role='presentation')
                                a(href='#customization', aria-controls='customization', role='tab', data-toggle='tab') 
                                  svg#customization-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 20 20', height='20px', width='20px', style='enable-background:new 0 0 20 20;', xml:space='preserve')
                                    g(style='fill: currentColor')
                                     path#gear1.st0(d='M12.2,11.7h-0.6c-0.2,0-0.4-0.2-0.4-0.3c0-0.2-0.1-0.3-0.2-0.5c-0.1-0.2,0-0.4,0.1-0.5l0.4-0.4\
                                     c0.3-0.3,0.3-0.8,0-1.1l-0.7-0.7c-0.2-0.2-0.3-0.2-0.5-0.2C10,7.9,9.8,8,9.6,8.1L9.2,8.5C9.1,8.6,9,8.7,8.9,8.7c-0.1,0-0.2,0-0.2,0\
                                     C8.5,8.5,8.4,8.5,8.2,8.4S7.9,8.1,7.9,8V7.3c0-0.4-0.3-0.8-0.8-0.8h-1c-0.4,0-0.8,0.3-0.8,0.8V8c0,0.2-0.2,0.4-0.3,0.4\
                                     c-0.2,0-0.3,0.1-0.5,0.2c0,0-0.1,0-0.2,0c-0.1,0-0.3,0-0.3-0.1L3.5,8.1C3.3,7.9,3.1,7.9,2.9,7.9S2.5,8,2.4,8.1L1.7,8.8\
                                     C1.5,9,1.5,9.2,1.5,9.4c0,0.2,0.1,0.4,0.2,0.5l0.4,0.4c0.1,0.1,0.2,0.4,0.1,0.5c-0.1,0.2-0.1,0.3-0.2,0.5c-0.1,0.2-0.3,0.3-0.4,0.3\
                                     H0.9c-0.4,0-0.8,0.3-0.8,0.8v1c0,0.4,0.3,0.8,0.8,0.8h0.6c0.2,0,0.4,0.2,0.4,0.3c0,0.2,0.1,0.3,0.2,0.5c0.1,0.2,0,0.4-0.1,0.5\
                                     l-0.4,0.4c-0.3,0.3-0.3,0.8,0,1.1L2.4,18c0.2,0.2,0.3,0.2,0.5,0.2s0.4-0.1,0.5-0.2l0.4-0.4c0.1-0.1,0.2-0.1,0.3-0.1\
                                     c0.1,0,0.2,0,0.2,0c0.2,0.1,0.3,0.1,0.5,0.2c0.2,0.1,0.3,0.3,0.3,0.4v0.6c0,0.4,0.3,0.8,0.8,0.8h1c0.4,0,0.8-0.3,0.8-0.8v-0.6\
                                     c0-0.2,0.2-0.4,0.3-0.4c0.2,0,0.3-0.1,0.5-0.2c0,0,0.1,0,0.2,0c0.1,0,0.3,0,0.3,0.1L9.6,18c0.2,0.2,0.3,0.2,0.5,0.2\
                                     c0.2,0,0.4-0.1,0.5-0.2l0.7-0.7c0.3-0.3,0.3-0.8,0-1.1L11,15.7c-0.1-0.1-0.2-0.4-0.1-0.5c0.1-0.2,0.1-0.3,0.2-0.5\
                                     c0-0.2,0.3-0.3,0.4-0.3h0.6c0.4,0,0.8-0.3,0.8-0.8v-1C13,12.1,12.7,11.7,12.2,11.7z M6.6,15.3c-1.3,0-2.3-1.1-2.3-2.3\
                                     s1.1-2.3,2.3-2.3s2.3,1.1,2.3,2.3S7.8,15.3,6.6,15.3z')
                                     path#gear2.st0(d='M19.4,4.3H19c-0.1,0-0.3-0.1-0.3-0.2s-0.1-0.2-0.1-0.3c-0.1-0.1,0-0.3,0.1-0.4L18.9,3\
                                     c0.2-0.2,0.2-0.5,0-0.8l-0.5-0.5c-0.1-0.1-0.2-0.1-0.4-0.1s-0.3,0.1-0.4,0.1l-0.3,0.3c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.1,0\
                                     c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1-0.1-0.2-0.2-0.2-0.3V1.3c0-0.3-0.2-0.5-0.5-0.5h-0.7c-0.3,0-0.5,0.2-0.5,0.5v0.4\
                                     c0,0.1-0.1,0.3-0.2,0.3c-0.1,0-0.2,0.1-0.3,0.1c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.2-0.1l-0.3-0.3c-0.1-0.1-0.2-0.1-0.4-0.1\
                                     c-0.1,0-0.3,0.1-0.4,0.1l-0.5,0.5C12.1,2.4,12,2.5,12,2.7S12.1,3,12.2,3l0.3,0.3c0.1,0.1,0.1,0.3,0.1,0.4c-0.1,0.1-0.1,0.2-0.1,0.3\
                                     c-0.1,0.1-0.2,0.2-0.3,0.2h-0.4c-0.3,0-0.5,0.2-0.5,0.5v0.7c0,0.3,0.2,0.5,0.5,0.5h0.4c0.1,0,0.3,0.1,0.3,0.2c0,0.1,0.1,0.2,0.1,0.3\
                                     c0.1,0.1,0,0.3-0.1,0.4l-0.3,0.3c-0.2,0.2-0.2,0.5,0,0.8l0.5,0.5c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3-0.1,0.4-0.1l0.3-0.3\
                                     c0.1-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.1,0c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0.1,0.2,0.2,0.2,0.3v0.4c0,0.3,0.2,0.5,0.5,0.5h0.7\
                                     c0.3,0,0.5-0.2,0.5-0.5V8.7c0-0.1,0.1-0.3,0.2-0.3c0.1,0,0.2-0.1,0.3-0.1c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.2,0.1l0.3,0.3\
                                     c0.1,0.1,0.2,0.1,0.4,0.1s0.3-0.1,0.4-0.1l0.5-0.5c0.2-0.2,0.2-0.5,0-0.8L18.6,7c-0.1-0.1-0.1-0.3-0.1-0.4c0.1-0.1,0.1-0.2,0.1-0.3\
                                     c0-0.1,0.2-0.2,0.3-0.2h0.4c0.3,0,0.5-0.2,0.5-0.5V4.8C20,4.5,19.7,4.3,19.4,4.3z M15.5,6.8c-0.9,0-1.6-0.7-1.6-1.6s0.7-1.6,1.6-1.6\
                                     s1.6,0.7,1.6,1.6S16.4,6.8,15.5,6.8z')
                                  | Customization
                              li(role='presentation')
                                a(href='#goals', aria-controls='goals', role='tab', data-toggle='tab') 
                                  svg#goals-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 20 20', height='20px', width='20px', style='enable-background:new 0 0 20 20;', xml:space='preserve')
                                    g(style='fill: currentColor')
                                     path.st0(d='M10,9.9c2.3,0,4.2-2.2,4.2-4.9C14.2,1.2,12.3,0,10,0S5.8,1.2,5.8,5C5.8,7.7,7.6,9.9,10,9.9z')
                                     path.st0(d='M20.3,10.3l-1.7,0.2l0.2-1.7l-1.3,1.3c-0.9-0.6-1.9-0.9-3-0.9c-3,0-5.4,2.4-5.4,5.4s2.4,5.4,5.4,5.4\
                                     c3,0,5.4-2.4,5.4-5.4c0-1.1-0.3-2.2-0.9-3L20.3,10.3z M14.5,18.7c-2.2,0-4-1.8-4-4s1.8-4,4-4c0.9,0,1.8,0.3,2.5,0.8l-1,1\
                                     c-0.4-0.3-1-0.5-1.5-0.5c-1.5,0-2.7,1.2-2.7,2.7s1.2,2.7,2.7,2.7s2.7-1.2,2.7-2.7c0-0.6-0.2-1.1-0.5-1.5l1-1\
                                     c0.5,0.7,0.8,1.5,0.8,2.5C18.6,16.9,16.8,18.7,14.5,18.7z M15.9,14.6c0,0.7-0.6,1.3-1.3,1.3c-0.7,0-1.3-0.6-1.3-1.3\
                                     c0-0.7,0.6-1.3,1.3-1.3c0.2,0,0.4,0,0.5,0.1l-0.8,0.8c-0.2,0.2-0.2,0.5,0,0.7s0.5,0.2,0.7,0l0.8-0.8C15.9,14.3,15.9,14.4,15.9,14.6z\
                                     ')
                                     path.st0(d='M7.7,14.6c0-1.3,0.4-2.6,1.1-3.7c-0.7-0.2-1.3-0.5-1.9-0.9c-0.1-0.1-0.2-0.1-0.2,0l-3.3,1.7\
                                     c-0.2,0.1-0.4,0.3-0.5,0.5L1,16.2C3.3,18.5,6.4,20,9.9,20c0.1,0,0.2,0,0.3,0C8.7,18.7,7.7,16.8,7.7,14.6z')
                                  | Goals      
                             - activeStatus = user.role == 'Manager' ? 'active' : '';
                             - expandStatus = user.role == 'Manager' ? 'true' : 'false';
                             li(role='presentation' class='#{activeStatus}')
                                a(href='#assessments', aria-controls='assessments', role='tab', data-toggle='tab' aria-expanded='#{expandStatus}') 
                                  svg#survey-management-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 20 20', height='20px', width='20px', style='enable-background:new 0 0 20 20;', xml:space='preserve')
                                    g(style='fill: currentColor')
                                       path#XMLID_3_.st0(d='M4.1,17.5L4.1,17.5c-0.1,0-0.1,0-0.2,0c-0.8,0-1.4-0.6-1.4-1.3l0-0.6V3.8l0-0.1c0,0,0-0.1,0-0.1\
                                       c0-0.7,0.6-1.3,1.4-1.3l0.1,0v0h5.5v0h3.1l0.4,0c0.7,0,1.3,0.6,1.4,1.3l0,1v3.6c0.5,0.1,0.9,0.5,1.2,1V3.6h0\
                                       c-0.1-1.3-1.1-2.3-2.5-2.3v0H3.8v0c-1.4,0-2.5,1.1-2.5,2.4c0,0.1,0,0.2,0,0.2v12.4h0c0.1,1.3,1.2,2.3,2.6,2.3c0.1,0,0.2,0,0.2,0h4\
                                       c-0.2-0.3-0.3-0.7-0.2-1.1H4.1z')
                                       path#XMLID_10_.st0(d='M18,13.7h-0.5c-0.1,0-0.3-0.1-0.3-0.3c0-0.1-0.1-0.3-0.2-0.4c-0.1-0.1,0-0.3,0.1-0.4l0.3-0.3\
                                       c0.2-0.2,0.2-0.6,0-0.9l-0.6-0.6c-0.1-0.1-0.3-0.2-0.4-0.2c-0.2,0-0.3,0.1-0.4,0.2l-0.3,0.3c-0.1,0.1-0.1,0.1-0.2,0.1\
                                       c-0.1,0-0.1,0-0.2,0c-0.1-0.1-0.3-0.1-0.4-0.2c-0.1-0.1-0.3-0.2-0.3-0.3v-0.5c0-0.3-0.3-0.6-0.6-0.6H13c-0.3,0-0.6,0.3-0.6,0.6v0.5\
                                       c0,0.1-0.1,0.3-0.3,0.3c-0.1,0-0.3,0.1-0.4,0.2c0,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.2-0.1l-0.3-0.3c-0.1-0.1-0.3-0.2-0.4-0.2\
                                       c-0.2,0-0.3,0.1-0.4,0.2l-0.6,0.6c-0.1,0.1-0.2,0.3-0.2,0.4s0.1,0.3,0.2,0.4l0.3,0.3c0.1,0.1,0.1,0.3,0.1,0.4\
                                       c-0.1,0.1-0.1,0.3-0.2,0.4c-0.1,0.1-0.2,0.3-0.3,0.3H8.8c-0.3,0-0.6,0.3-0.6,0.6v0.8c0,0.3,0.3,0.6,0.6,0.6h0.5\
                                       c0.1,0,0.3,0.1,0.3,0.3c0,0.1,0.1,0.3,0.2,0.4c0.1,0.1,0,0.3-0.1,0.4l-0.3,0.3c-0.2,0.2-0.2,0.6,0,0.9l0.6,0.6\
                                       c0.1,0.1,0.3,0.2,0.4,0.2c0.2,0,0.3-0.1,0.4-0.2l0.3-0.3c0.1-0.1,0.2-0.1,0.2-0.1s0.1,0,0.2,0c0.1,0.1,0.3,0.1,0.4,0.2\
                                       c0.1,0.1,0.3,0.2,0.3,0.3v0.5c0,0.3,0.3,0.6,0.6,0.6h0.8c0.3,0,0.6-0.3,0.6-0.6v-0.5c0-0.1,0.1-0.3,0.3-0.3c0.1,0,0.3-0.1,0.4-0.2\
                                       c0,0,0.1,0,0.2,0c0.1,0,0.2,0,0.2,0.1l0.3,0.3c0.1,0.1,0.3,0.2,0.4,0.2c0.2,0,0.3-0.1,0.4-0.2l0.6-0.6c0.2-0.2,0.2-0.6,0-0.9\
                                       L17,16.9c-0.1-0.1-0.1-0.3-0.1-0.4c0.1-0.1,0.1-0.3,0.2-0.4c0-0.1,0.2-0.3,0.3-0.3H18c0.3,0,0.6-0.3,0.6-0.6v-0.8\
                                       C18.6,14,18.4,13.7,18,13.7z M13.4,16.6c-1,0-1.9-0.9-1.9-1.9c0-1,0.9-1.9,1.9-1.9c1,0,1.9,0.9,1.9,1.9\
                                       C15.3,15.7,14.4,16.6,13.4,16.6z')
                                  | Survey management    
                     ul#abc.nav.nav-tabs.hidden-xs.hidden-sm(role='tablist')
                        if user.role == 'HR Manager'
                          li.active(role='presentation')
                            a(aria-expanded='true', href='#export', aria-controls='export', role='tab', data-toggle='tab') 
                              svg(preserveaspectratio='xMinYMin meet', y='0', x='0', height='20px', width='20px', viewbox='0 0 20 20')
                                g(style='fill: currentColor')
                                 path#XMLID_24_.st0(d='M8.3,13.7l6.9,0l0,0v1.9c0,0.3,0.3,0.6,0.6,0.6l0,0l0,0c0.2,0,0.3-0.1,0.4-0.2l3.7-3.7\
                                 c0.2-0.2,0.2-0.6,0-0.9l-3.7-3.7c-0.2-0.2-0.6-0.2-0.9,0c-0.1,0.1-0.2,0.3-0.2,0.4V10l-6.9,0c-0.3,0-0.6,0.3-0.6,0.6l0,2.5\
                                 C7.7,13.4,7.9,13.7,8.3,13.7z')
                                 path.st0(d='M16.2,17.5H13H1.2V6.3h14.6v0h1.6V1.9c0-0.3-0.3-0.6-0.6-0.6H0.6C0.3,1.3,0,1.6,0,1.9v16.2\
                                 c0,0.3,0.3,0.6,0.6,0.6h16.2c0.3,0,0.6-0.3,0.6-0.6v-0.6H16.2z M8.1,3c0.5,0,0.8,0.4,0.8,0.8c0,0.4-0.3,0.8-0.8,0.8S7.3,4.2,7.3,3.8\
                                 C7.3,3.4,7.6,3,8.1,3z M5.6,3c0.5,0,0.8,0.4,0.8,0.8c0,0.4-0.3,0.8-0.8,0.8S4.8,4.2,4.8,3.8C4.8,3.4,5.1,3,5.6,3z M3.1,3\
                                 c0.5,0,0.8,0.4,0.8,0.8c0,0.4-0.3,0.8-0.8,0.8S2.3,4.2,2.3,3.8C2.3,3.4,2.6,3,3.1,3z')
                              | Export             
                          li(role='presentation')
                            a(href='#user-management', aria-controls='user-management', role='tab', data-toggle='tab') 
                              svg#user-management-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 20 20', height='20px', width='20px', style='enable-background:new 0 0 20 20;', xml:space='preserve')
                                g(style='fill: currentColor')
                                 path#XMLID_9_.st0(d='M8.5,9.7c2,0,3.6-2,3.6-4.4c0-3.4-1.6-4.4-3.6-4.4c-2,0-3.6,1-3.6,4.4C4.9,7.8,6.5,9.7,8.5,9.7z')
                                 path#XMLID_8_.st0(d='M12.5,17.9c-0.1,0-0.2-0.1-0.3-0.1L12,18.1c-0.2,0.2-0.5,0.3-0.8,0.3c-0.3,0-0.6-0.1-0.8-0.3\
                                 l-0.6-0.6c-0.4-0.5-0.4-1.2,0-1.7l0.3-0.3c0-0.1-0.1-0.2-0.1-0.3H9.6c-0.6,0-1.1-0.5-1.1-1.2v-0.8C8.5,12.6,9,12,9.6,12H10\
                                 c0-0.1,0.1-0.2,0.1-0.3l-0.3-0.3c-0.2-0.2-0.3-0.5-0.3-0.7c-0.3,0.1-0.7,0.1-1.1,0.1c-1,0-1.9-0.3-2.7-1c-0.1,0-0.1,0-0.2,0\
                                 l-2.8,1.6c-0.2,0.1-0.3,0.3-0.4,0.5l-1.5,3.6c1.9,2.1,4.6,3.4,7.6,3.4c1.3,0,2.6-0.3,3.8-0.7c0.1,0,0.1-0.1,0.3-0.1L12.5,17.9\
                                 L12.5,17.9z')
                                 path#XMLID_5_.st0(d='M18.4,12.6h-0.5c-0.1,0-0.3-0.1-0.3-0.3c0-0.1-0.1-0.3-0.2-0.4c-0.1-0.1,0-0.3,0.1-0.5l0.3-0.3\
                                 c0.2-0.2,0.2-0.7,0-0.9l-0.6-0.6c-0.1-0.1-0.3-0.2-0.4-0.2s-0.3,0.1-0.4,0.2L16.1,10c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2,0\
                                 c-0.1-0.1-0.3-0.1-0.4-0.2C15.2,9.8,15,9.7,15,9.5V9c0-0.3-0.3-0.7-0.6-0.7h-0.8C13.3,8.4,13,8.6,13,9v0.5c0,0.1-0.1,0.3-0.3,0.3\
                                 c-0.1,0-0.3,0.1-0.4,0.2c0,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.2-0.1l-0.3-0.3c-0.1-0.1-0.3-0.2-0.4-0.2s-0.3,0.1-0.4,0.2l-0.6,0.6\
                                 c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.3,0.2,0.5l0.3,0.3c0.1,0.1,0.1,0.3,0.1,0.5c-0.1,0.1-0.1,0.3-0.2,0.4\
                                 c-0.1,0.1-0.2,0.3-0.3,0.3H9.6c-0.3,0-0.6,0.3-0.6,0.7v0.8c0,0.3,0.3,0.7,0.6,0.7h0.5c0.1,0,0.3,0.1,0.3,0.3c0,0.1,0.1,0.3,0.2,0.4\
                                 c0.1,0.1,0,0.3-0.1,0.5l-0.3,0.3c-0.2,0.2-0.2,0.7,0,0.9l0.6,0.6c0.1,0.1,0.3,0.2,0.4,0.2s0.3-0.1,0.4-0.2l0.3-0.3\
                                 c0.1-0.1,0.2-0.1,0.2-0.1s0.1,0,0.2,0c0.1,0.1,0.3,0.1,0.4,0.2c0.1,0.1,0.3,0.2,0.3,0.3v0.5c0,0.3,0.3,0.7,0.6,0.7h0.8\
                                 c0.3,0,0.6-0.3,0.6-0.7v-0.5c0-0.1,0.1-0.3,0.3-0.3c0.1,0,0.3-0.1,0.4-0.2c0,0,0.1,0,0.2,0c0.1,0,0.2,0,0.2,0.1l0.3,0.3\
                                 c0.1,0.1,0.3,0.2,0.4,0.2s0.3-0.1,0.4-0.2l0.6-0.6c0.2-0.2,0.2-0.7,0-0.9l-0.3-0.3c-0.1-0.1-0.1-0.3-0.1-0.5\
                                 c0.1-0.1,0.1-0.3,0.2-0.4c0-0.1,0.2-0.3,0.3-0.3h0.5c0.3,0,0.6-0.3,0.6-0.7v-0.8C19.1,12.9,18.8,12.6,18.4,12.6z M14,15.6\
                                 c-1,0-1.8-0.9-1.8-1.9s0.8-1.9,1.8-1.9s1.8,0.9,1.8,1.9S15,15.6,14,15.6z')
                              | User management
                          li(role='presentation')
                            a(href='#customization', aria-controls='customization', role='tab', data-toggle='tab') 
                              svg#customization-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 20 20', height='20px', width='20px', style='enable-background:new 0 0 20 20;', xml:space='preserve')
                                g(style='fill: currentColor')
                                 path#gear1.st0(d='M12.2,11.7h-0.6c-0.2,0-0.4-0.2-0.4-0.3c0-0.2-0.1-0.3-0.2-0.5c-0.1-0.2,0-0.4,0.1-0.5l0.4-0.4\
                                 c0.3-0.3,0.3-0.8,0-1.1l-0.7-0.7c-0.2-0.2-0.3-0.2-0.5-0.2C10,7.9,9.8,8,9.6,8.1L9.2,8.5C9.1,8.6,9,8.7,8.9,8.7c-0.1,0-0.2,0-0.2,0\
                                 C8.5,8.5,8.4,8.5,8.2,8.4S7.9,8.1,7.9,8V7.3c0-0.4-0.3-0.8-0.8-0.8h-1c-0.4,0-0.8,0.3-0.8,0.8V8c0,0.2-0.2,0.4-0.3,0.4\
                                 c-0.2,0-0.3,0.1-0.5,0.2c0,0-0.1,0-0.2,0c-0.1,0-0.3,0-0.3-0.1L3.5,8.1C3.3,7.9,3.1,7.9,2.9,7.9S2.5,8,2.4,8.1L1.7,8.8\
                                 C1.5,9,1.5,9.2,1.5,9.4c0,0.2,0.1,0.4,0.2,0.5l0.4,0.4c0.1,0.1,0.2,0.4,0.1,0.5c-0.1,0.2-0.1,0.3-0.2,0.5c-0.1,0.2-0.3,0.3-0.4,0.3\
                                 H0.9c-0.4,0-0.8,0.3-0.8,0.8v1c0,0.4,0.3,0.8,0.8,0.8h0.6c0.2,0,0.4,0.2,0.4,0.3c0,0.2,0.1,0.3,0.2,0.5c0.1,0.2,0,0.4-0.1,0.5\
                                 l-0.4,0.4c-0.3,0.3-0.3,0.8,0,1.1L2.4,18c0.2,0.2,0.3,0.2,0.5,0.2s0.4-0.1,0.5-0.2l0.4-0.4c0.1-0.1,0.2-0.1,0.3-0.1\
                                 c0.1,0,0.2,0,0.2,0c0.2,0.1,0.3,0.1,0.5,0.2c0.2,0.1,0.3,0.3,0.3,0.4v0.6c0,0.4,0.3,0.8,0.8,0.8h1c0.4,0,0.8-0.3,0.8-0.8v-0.6\
                                 c0-0.2,0.2-0.4,0.3-0.4c0.2,0,0.3-0.1,0.5-0.2c0,0,0.1,0,0.2,0c0.1,0,0.3,0,0.3,0.1L9.6,18c0.2,0.2,0.3,0.2,0.5,0.2\
                                 c0.2,0,0.4-0.1,0.5-0.2l0.7-0.7c0.3-0.3,0.3-0.8,0-1.1L11,15.7c-0.1-0.1-0.2-0.4-0.1-0.5c0.1-0.2,0.1-0.3,0.2-0.5\
                                 c0-0.2,0.3-0.3,0.4-0.3h0.6c0.4,0,0.8-0.3,0.8-0.8v-1C13,12.1,12.7,11.7,12.2,11.7z M6.6,15.3c-1.3,0-2.3-1.1-2.3-2.3\
                                 s1.1-2.3,2.3-2.3s2.3,1.1,2.3,2.3S7.8,15.3,6.6,15.3z')
                                 path#gear2.st0(d='M19.4,4.3H19c-0.1,0-0.3-0.1-0.3-0.2s-0.1-0.2-0.1-0.3c-0.1-0.1,0-0.3,0.1-0.4L18.9,3\
                                 c0.2-0.2,0.2-0.5,0-0.8l-0.5-0.5c-0.1-0.1-0.2-0.1-0.4-0.1s-0.3,0.1-0.4,0.1l-0.3,0.3c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.1,0\
                                 c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1-0.1-0.2-0.2-0.2-0.3V1.3c0-0.3-0.2-0.5-0.5-0.5h-0.7c-0.3,0-0.5,0.2-0.5,0.5v0.4\
                                 c0,0.1-0.1,0.3-0.2,0.3c-0.1,0-0.2,0.1-0.3,0.1c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.2-0.1l-0.3-0.3c-0.1-0.1-0.2-0.1-0.4-0.1\
                                 c-0.1,0-0.3,0.1-0.4,0.1l-0.5,0.5C12.1,2.4,12,2.5,12,2.7S12.1,3,12.2,3l0.3,0.3c0.1,0.1,0.1,0.3,0.1,0.4c-0.1,0.1-0.1,0.2-0.1,0.3\
                                 c-0.1,0.1-0.2,0.2-0.3,0.2h-0.4c-0.3,0-0.5,0.2-0.5,0.5v0.7c0,0.3,0.2,0.5,0.5,0.5h0.4c0.1,0,0.3,0.1,0.3,0.2c0,0.1,0.1,0.2,0.1,0.3\
                                 c0.1,0.1,0,0.3-0.1,0.4l-0.3,0.3c-0.2,0.2-0.2,0.5,0,0.8l0.5,0.5c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3-0.1,0.4-0.1l0.3-0.3\
                                 c0.1-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.1,0c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0.1,0.2,0.2,0.2,0.3v0.4c0,0.3,0.2,0.5,0.5,0.5h0.7\
                                 c0.3,0,0.5-0.2,0.5-0.5V8.7c0-0.1,0.1-0.3,0.2-0.3c0.1,0,0.2-0.1,0.3-0.1c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.2,0.1l0.3,0.3\
                                 c0.1,0.1,0.2,0.1,0.4,0.1s0.3-0.1,0.4-0.1l0.5-0.5c0.2-0.2,0.2-0.5,0-0.8L18.6,7c-0.1-0.1-0.1-0.3-0.1-0.4c0.1-0.1,0.1-0.2,0.1-0.3\
                                 c0-0.1,0.2-0.2,0.3-0.2h0.4c0.3,0,0.5-0.2,0.5-0.5V4.8C20,4.5,19.7,4.3,19.4,4.3z M15.5,6.8c-0.9,0-1.6-0.7-1.6-1.6s0.7-1.6,1.6-1.6\
                                 s1.6,0.7,1.6,1.6S16.4,6.8,15.5,6.8z')
                              | Customization
                              
                          li(role='presentation')
                            a(href='#goals', aria-controls='goals', role='tab', data-toggle='tab') 
                              svg#goals-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 20 20', height='20px', width='20px', style='enable-background:new 0 0 20 20;', xml:space='preserve')
                                g(style='fill: currentColor')
                                 path.st0(d='M10,9.9c2.3,0,4.2-2.2,4.2-4.9C14.2,1.2,12.3,0,10,0S5.8,1.2,5.8,5C5.8,7.7,7.6,9.9,10,9.9z')
                                 path.st0(d='M20.3,10.3l-1.7,0.2l0.2-1.7l-1.3,1.3c-0.9-0.6-1.9-0.9-3-0.9c-3,0-5.4,2.4-5.4,5.4s2.4,5.4,5.4,5.4\
                                 c3,0,5.4-2.4,5.4-5.4c0-1.1-0.3-2.2-0.9-3L20.3,10.3z M14.5,18.7c-2.2,0-4-1.8-4-4s1.8-4,4-4c0.9,0,1.8,0.3,2.5,0.8l-1,1\
                                 c-0.4-0.3-1-0.5-1.5-0.5c-1.5,0-2.7,1.2-2.7,2.7s1.2,2.7,2.7,2.7s2.7-1.2,2.7-2.7c0-0.6-0.2-1.1-0.5-1.5l1-1\
                                 c0.5,0.7,0.8,1.5,0.8,2.5C18.6,16.9,16.8,18.7,14.5,18.7z M15.9,14.6c0,0.7-0.6,1.3-1.3,1.3c-0.7,0-1.3-0.6-1.3-1.3\
                                 c0-0.7,0.6-1.3,1.3-1.3c0.2,0,0.4,0,0.5,0.1l-0.8,0.8c-0.2,0.2-0.2,0.5,0,0.7s0.5,0.2,0.7,0l0.8-0.8C15.9,14.3,15.9,14.4,15.9,14.6z\
                                 ')
                                 path.st0(d='M7.7,14.6c0-1.3,0.4-2.6,1.1-3.7c-0.7-0.2-1.3-0.5-1.9-0.9c-0.1-0.1-0.2-0.1-0.2,0l-3.3,1.7\
                                 c-0.2,0.1-0.4,0.3-0.5,0.5L1,16.2C3.3,18.5,6.4,20,9.9,20c0.1,0,0.2,0,0.3,0C8.7,18.7,7.7,16.8,7.7,14.6z')
                              | Goals      
                        - activeStatus = user.role == 'Manager' ? 'active' : '';
                        - expandStatus = user.role == 'Manager' ? 'true' : 'false';
                        li(role='presentation' class='#{activeStatus}')
                          a(href='#assessments', aria-controls='assessments', role='tab', data-toggle='tab' aria-expanded='#{expandStatus}') 
                            svg#survey-management-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 20 20', height='20px', width='20px', style='enable-background:new 0 0 20 20;', xml:space='preserve')
                              g(style='fill: currentColor')
                                 path#XMLID_3_.st0(d='M4.1,17.5L4.1,17.5c-0.1,0-0.1,0-0.2,0c-0.8,0-1.4-0.6-1.4-1.3l0-0.6V3.8l0-0.1c0,0,0-0.1,0-0.1\
                                 c0-0.7,0.6-1.3,1.4-1.3l0.1,0v0h5.5v0h3.1l0.4,0c0.7,0,1.3,0.6,1.4,1.3l0,1v3.6c0.5,0.1,0.9,0.5,1.2,1V3.6h0\
                                 c-0.1-1.3-1.1-2.3-2.5-2.3v0H3.8v0c-1.4,0-2.5,1.1-2.5,2.4c0,0.1,0,0.2,0,0.2v12.4h0c0.1,1.3,1.2,2.3,2.6,2.3c0.1,0,0.2,0,0.2,0h4\
                                 c-0.2-0.3-0.3-0.7-0.2-1.1H4.1z')
                                 path#XMLID_10_.st0(d='M18,13.7h-0.5c-0.1,0-0.3-0.1-0.3-0.3c0-0.1-0.1-0.3-0.2-0.4c-0.1-0.1,0-0.3,0.1-0.4l0.3-0.3\
                                 c0.2-0.2,0.2-0.6,0-0.9l-0.6-0.6c-0.1-0.1-0.3-0.2-0.4-0.2c-0.2,0-0.3,0.1-0.4,0.2l-0.3,0.3c-0.1,0.1-0.1,0.1-0.2,0.1\
                                 c-0.1,0-0.1,0-0.2,0c-0.1-0.1-0.3-0.1-0.4-0.2c-0.1-0.1-0.3-0.2-0.3-0.3v-0.5c0-0.3-0.3-0.6-0.6-0.6H13c-0.3,0-0.6,0.3-0.6,0.6v0.5\
                                 c0,0.1-0.1,0.3-0.3,0.3c-0.1,0-0.3,0.1-0.4,0.2c0,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.2-0.1l-0.3-0.3c-0.1-0.1-0.3-0.2-0.4-0.2\
                                 c-0.2,0-0.3,0.1-0.4,0.2l-0.6,0.6c-0.1,0.1-0.2,0.3-0.2,0.4s0.1,0.3,0.2,0.4l0.3,0.3c0.1,0.1,0.1,0.3,0.1,0.4\
                                 c-0.1,0.1-0.1,0.3-0.2,0.4c-0.1,0.1-0.2,0.3-0.3,0.3H8.8c-0.3,0-0.6,0.3-0.6,0.6v0.8c0,0.3,0.3,0.6,0.6,0.6h0.5\
                                 c0.1,0,0.3,0.1,0.3,0.3c0,0.1,0.1,0.3,0.2,0.4c0.1,0.1,0,0.3-0.1,0.4l-0.3,0.3c-0.2,0.2-0.2,0.6,0,0.9l0.6,0.6\
                                 c0.1,0.1,0.3,0.2,0.4,0.2c0.2,0,0.3-0.1,0.4-0.2l0.3-0.3c0.1-0.1,0.2-0.1,0.2-0.1s0.1,0,0.2,0c0.1,0.1,0.3,0.1,0.4,0.2\
                                 c0.1,0.1,0.3,0.2,0.3,0.3v0.5c0,0.3,0.3,0.6,0.6,0.6h0.8c0.3,0,0.6-0.3,0.6-0.6v-0.5c0-0.1,0.1-0.3,0.3-0.3c0.1,0,0.3-0.1,0.4-0.2\
                                 c0,0,0.1,0,0.2,0c0.1,0,0.2,0,0.2,0.1l0.3,0.3c0.1,0.1,0.3,0.2,0.4,0.2c0.2,0,0.3-0.1,0.4-0.2l0.6-0.6c0.2-0.2,0.2-0.6,0-0.9\
                                 L17,16.9c-0.1-0.1-0.1-0.3-0.1-0.4c0.1-0.1,0.1-0.3,0.2-0.4c0-0.1,0.2-0.3,0.3-0.3H18c0.3,0,0.6-0.3,0.6-0.6v-0.8\
                                 C18.6,14,18.4,13.7,18,13.7z M13.4,16.6c-1,0-1.9-0.9-1.9-1.9c0-1,0.9-1.9,1.9-1.9c1,0,1.9,0.9,1.9,1.9\
                                 C15.3,15.7,14.4,16.6,13.4,16.6z')
                            | Survey management
                     // Tab panes
                     .tab-content
                        if user.role == 'HR Manager'
                          include _export
                          include _user_managment
                          include _customization
                          include _goals
                        include _survey_managment

                     include _models

footer.global.navbar.navbar-default
   .col-md-12.text-center.hidden-xs
      span ©Copyright 2015 populo
      img.padding-5(src='img/populo-logo.svg')
      ul.list-inline
         li
            a(href='#')  Terms
         li
            a(href='#') Privacy
   .visible-xs
      .col-xs-12.collapse-header.text-center
         a(href='#legal-links', data-toggle='collapse', aria-expanded='false', aria-controls='legal-links')
            img(src='' +
            '' +
            '/img/collapse-icon.svg', width='20', height='20', alt='collapse icon')
      #legal-links.collapse
         .col-xs-12.text-center
            ul.list-group
               li
                  a(href='#') Terms
               li
                  a(href='#') Privacy
      .col-xs-12.text-center
         img.padding-5(src='img/populo-logo.svg')
