doctype html
html
  head
    meta(charset='utf-8')
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    meta(content='width=device-width,initial-scale=1.0', name='viewport')
    title Email
    //if (gte mso 9)|(IE)
      style(type='text/css').
        table {border-collapse: collapse;}
  body(style='background-color: #EEF2F4; padding:15px;')
    div(style='width:100%;')
      table(align='center', style="width:100%; max-width:600px; margin-right:auto; margin-left:auto; text-align:center;font-family: 'Open Sans', Arial, Helvetica, sans-serif; border-collapse: collapse; border-spacing: 0;background-color: #fff; border-radius:3px;")
        tr
          td(style='padding:25px;border-radius: 3px 3px 0px 0px; background-color:#1f99d5;color:#fff;font-size:18px;')
            img(style='vertical-align:bottom;', src='http://imctest.populo.co/img/quote-icon-white.png', width='35', height='35', alt='')
            div There is no substitute for hard work when it comes to achieving success.
        tr
          td(style='padding:15px 15px 0px 15px;font-size:14px; font-weight:bold;color:#444444; text-align:left;color:#51555b;') Hi #{user.full_legal_name},
        tr
          td(style='padding:15px;font-size:14px;color:#444444;text-align:left;color:#8f9092;')
            | We know that daily work demands can trump self-development activities. Yet in today's fast-paced and rapidly-changing environment, continual learning is critical for future success. That's why the 10 minutes it takes to complete your Populo survey results in time-saving insights and tips for maximizing your effectiveness.
        tr
          td(style='padding:10px 15px 25px 15px;font-size:17px;')
            a(style='padding:10px 35px; color:#fff; background-color:#1f99d5; font-size:14px; font-weight:bold; text-decoration:none; border-radius:2px; display:inline-block; max-width:250px; margin-left:auto; margin-right:auto; ', href='#{survey_link}') There's no time like the present
            div(style='padding-top:35px;max-width:350px;border-bottom: 1px solid #ecedef;display:inline-block;margin-left:auto; margin-right:auto;')
            div(style='text-align:center;color:#8f9092;padding-top:25px;padding-bottom:10px;') You can see how to video by clicking on the link below:
            a(href='#', style='')
              img(style='vertical-align:bottom;', src='http://imctest.populo.co/img/play-icon-b.png', width='35', height='35', alt='')
        tr
          td(style='padding:0px 20px 0px 20px;font-size:14px;color:#51555b;text-align:left;') Best Regards,
        tr
          td(style='padding:0px 20px 20px 20px;font-size:14px;color:#51555b;text-align:left;font-weight:bold;') The Populo Team
