footer.global.navbar.navbar-default
  .col-md-12.text-center.hidden-xs
    span ©Copyright 2016 Populo LLC. &nbsp;
    img.padding-5(src='/img/populo-logo.svg')
    ul.list-inline
      li
        a(href='#') &nbsp;&nbsp;Terms
      li
        a(href='#') Privacy
  .visible-xs
    .col-xs-12.collapse-header.text-center
      a(href='#legal-links', data-toggle='collapse', aria-expanded='false', aria-controls='legal-links')
        img(src='/img/collapse-icon.svg', width='20', height='20', alt='collapse icon')
    #legal-links.collapse
      .col-xs-12.text-center
        ul.list-group
          li
            a(href='#') &nbsp;&nbsp;Terms
          li
            a(href='#') Privacy
    .col-xs-12.text-center
      img.padding-5(src='/img/populo-logo.svg')
